.app-container{
  display: flex; 
}

.app-content{
  width: 100vw;
}

.sidebar{
  min-height: 800px;
}

.posts-container{
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-top: 40px;
}

.post-card{
  margin: 20px 10px;

}

.social-tag{
  margin: auto 5px;
  border-radius: 1px;
}

.delete-icon{
  padding: 10px;
}

.social-reactions{
  margin: 10px
}



/* create post */

.create-post{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}



.welcome-msg{
  margin-top: 100px;
  height: 50%;
}

.loading{
  margin: 100px auto;
}
